<div class="postDate">
  <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
</div>

<% if user_signed_in? && current_user.id == @post.user_id %>
<div class="postManage">
  <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
  <%= link_to "削除",post_path(@post.id),method: :delete, class: "postManage__delete" %>
</div>
<% end %>
<div class = show-contents>

  <div class="postTitle">
    <p><%= @post.title %></p>
  </div>

  <div class="postAuthor">
  </div>

  <div class="postText">
    <p><%= simple_format @post.content %></p>
  </div>
  
</div>